@import "variables";

@font-face {
  font-family: 'BECH';
  src:  url('#{$icomoon-font-path}/BECH.eot?lxqpa3');
  src:  url('#{$icomoon-font-path}/BECH.eot?lxqpa3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/BECH.ttf?lxqpa3') format('truetype'),
    url('#{$icomoon-font-path}/BECH.woff?lxqpa3') format('woff'),
    url('#{$icomoon-font-path}/BECH.svg?lxqpa3#BECH') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'BECH' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bech_calculator {
  &:before {
    content: $bech_calculator; 
  }
}
.bech_camera_video {
  &:before {
    content: $bech_camera_video; 
  }
}
.bech_camera {
  &:before {
    content: $bech_camera; 
  }
}
.bech_cell_hand {
  &:before {
    content: $bech_cell_hand; 
  }
}
.bech_cell_phone {
  &:before {
    content: $bech_cell_phone; 
  }
}
.bech_computer {
  &:before {
    content: $bech_computer; 
  }
}
.bech_headphones {
  &:before {
    content: $bech_headphones; 
  }
}
.bech_microphone {
  &:before {
    content: $bech_microphone; 
  }
}
.bech_printer {
  &:before {
    content: $bech_printer; 
  }
}
.bech_screen_star {
  &:before {
    content: $bech_screen_star; 
  }
}
.bech_screen {
  &:before {
    content: $bech_screen; 
  }
}
.bech_chart_arrow {
  &:before {
    content: $bech_chart_arrow; 
  }
}
.bech_chart_bar {
  &:before {
    content: $bech_chart_bar; 
  }
}
.bech_chart_circle {
  &:before {
    content: $bech_chart_circle; 
  }
}
.bech_facebook {
  &:before {
    content: $bech_facebook; 
  }
}
.bech_google_mas {
  &:before {
    content: $bech_google_mas; 
  }
}
.bech_instagram {
  &:before {
    content: $bech_instagram; 
  }
}
.bech_linkedin {
  &:before {
    content: $bech_linkedin; 
  }
}
.bech_pinterest {
  &:before {
    content: $bech_pinterest; 
  }
}
.bech_twitter {
  &:before {
    content: $bech_twitter; 
  }
}
.bech_whatsapp {
  &:before {
    content: $bech_whatsapp; 
  }
}
.bech_youtube {
  &:before {
    content: $bech_youtube; 
  }
}
.bech_add_user2 {
  &:before {
    content: $bech_add_user2; 
  }
}
.bech_contacts2 {
  &:before {
    content: $bech_contacts2; 
  }
}
.bech_domain2 {
  &:before {
    content: $bech_domain2; 
  }
}
.bech_emoticons_angry2 {
  &:before {
    content: $bech_emoticons_angry2; 
  }
}
.bech_emoticons_astonished {
  &:before {
    content: $bech_emoticons_astonished; 
  }
}
.bech_emoticons_happy {
  &:before {
    content: $bech_emoticons_happy; 
  }
}
.bech_emoticons_sad2 {
  &:before {
    content: $bech_emoticons_sad2; 
  }
}
.bech_emoticons_shame2 {
  &:before {
    content: $bech_emoticons_shame2; 
  }
}
.bech_emoticons_sleepy2 {
  &:before {
    content: $bech_emoticons_sleepy2; 
  }
}
.bech_emoticons_smile_more2 {
  &:before {
    content: $bech_emoticons_smile_more2; 
  }
}
.bech_emoticons_smile2 {
  &:before {
    content: $bech_emoticons_smile2; 
  }
}
.bech_emoticons_very_sad2 {
  &:before {
    content: $bech_emoticons_very_sad2; 
  }
}
.bech_emoticons_very_satisfied2 {
  &:before {
    content: $bech_emoticons_very_satisfied2; 
  }
}
.bech_heart2 {
  &:before {
    content: $bech_heart2; 
  }
}
.bech_person2 {
  &:before {
    content: $bech_person2; 
  }
}
.bech_public2 {
  &:before {
    content: $bech_public2; 
  }
}
.bech_share_arrow2 {
  &:before {
    content: $bech_share_arrow2; 
  }
}
.bech_share {
  &:before {
    content: $bech_share; 
  }
}
.bech_star {
  &:before {
    content: $bech_star; 
  }
}
.bech_two_user2 {
  &:before {
    content: $bech_two_user2; 
  }
}
.bech_user2 {
  &:before {
    content: $bech_user2; 
  }
}
.bech_add_user {
  &:before {
    content: $bech_add_user; 
  }
}
.bech_contacts {
  &:before {
    content: $bech_contacts; 
  }
}
.bech_domain {
  &:before {
    content: $bech_domain; 
  }
}
.bech_emoticons_angry {
  &:before {
    content: $bech_emoticons_angry; 
  }
}
.bech_emoticons_astonished2 {
  &:before {
    content: $bech_emoticons_astonished2; 
  }
}
.bech_emoticons_happy2 {
  &:before {
    content: $bech_emoticons_happy2; 
  }
}
.bech_emoticons_sad {
  &:before {
    content: $bech_emoticons_sad; 
  }
}
.bech_emoticons_shame {
  &:before {
    content: $bech_emoticons_shame; 
  }
}
.bech_emoticons_sleepy {
  &:before {
    content: $bech_emoticons_sleepy; 
  }
}
.bech_emoticons_smile_more {
  &:before {
    content: $bech_emoticons_smile_more; 
  }
}
.bech_emoticons_smile {
  &:before {
    content: $bech_emoticons_smile; 
  }
}
.bech_emoticons_very_sad {
  &:before {
    content: $bech_emoticons_very_sad; 
  }
}
.bech_emoticons_very_satisfied {
  &:before {
    content: $bech_emoticons_very_satisfied; 
  }
}
.bech_heart {
  &:before {
    content: $bech_heart; 
  }
}
.bech_person {
  &:before {
    content: $bech_person; 
  }
}
.bech_public {
  &:before {
    content: $bech_public; 
  }
}
.bech_share_arrow {
  &:before {
    content: $bech_share_arrow; 
  }
}
.bech_share2 {
  &:before {
    content: $bech_share2; 
  }
}
.bech_star2 {
  &:before {
    content: $bech_star2; 
  }
}
.bech_two_user {
  &:before {
    content: $bech_two_user; 
  }
}
.bech_user {
  &:before {
    content: $bech_user; 
  }
}
.bech_-identity {
  &:before {
    content: $bech_-identity; 
  }
}
.bech_keys {
  &:before {
    content: $bech_keys; 
  }
}
.bech_padlock_close {
  &:before {
    content: $bech_padlock_close; 
  }
}
.bech_padlock_open {
  &:before {
    content: $bech_padlock_open; 
  }
}
.bech_safe {
  &:before {
    content: $bech_safe; 
  }
}
.bech_alarm_clock {
  &:before {
    content: $bech_alarm_clock; 
  }
}
.bech_alert_circle {
  &:before {
    content: $bech_alert_circle; 
  }
}
.bech_alert_dialog {
  &:before {
    content: $bech_alert_dialog; 
  }
}
.bech_alert_info {
  &:before {
    content: $bech_alert_info; 
  }
}
.bech_alert_news {
  &:before {
    content: $bech_alert_news; 
  }
}
.bech_alert_triangle {
  &:before {
    content: $bech_alert_triangle; 
  }
}
.bech_blocked {
  &:before {
    content: $bech_blocked; 
  }
}
.bech_conversation_dialog {
  &:before {
    content: $bech_conversation_dialog; 
  }
}
.bech_file_check2 {
  &:before {
    content: $bech_file_check2; 
  }
}
.bech_file_error {
  &:before {
    content: $bech_file_error; 
  }
}
.bech_help_circle {
  &:before {
    content: $bech_help_circle; 
  }
}
.bech_help_dialog {
  &:before {
    content: $bech_help_dialog; 
  }
}
.bech_notifications {
  &:before {
    content: $bech_notifications; 
  }
}
.bech_refresh_time {
  &:before {
    content: $bech_refresh_time; 
  }
}
.bech_sad_dialog {
  &:before {
    content: $bech_sad_dialog; 
  }
}
.bech_smile_dialog {
  &:before {
    content: $bech_smile_dialog; 
  }
}
.bech_text_dialog {
  &:before {
    content: $bech_text_dialog; 
  }
}
.bech_time {
  &:before {
    content: $bech_time; 
  }
}
.bech_wait_dialog {
  &:before {
    content: $bech_wait_dialog; 
  }
}
.bech_arrow_back_ios {
  &:before {
    content: $bech_arrow_back_ios; 
  }
}
.bech_arrow_down_circle {
  &:before {
    content: $bech_arrow_down_circle; 
  }
}
.bech_arrow_down_ios {
  &:before {
    content: $bech_arrow_down_ios; 
  }
}
.bech_arrow_down {
  &:before {
    content: $bech_arrow_down; 
  }
}
.bech_arrow_left_circle {
  &:before {
    content: $bech_arrow_left_circle; 
  }
}
.bech_arrow_left {
  &:before {
    content: $bech_arrow_left; 
  }
}
.bech_arrow_next_ios {
  &:before {
    content: $bech_arrow_next_ios; 
  }
}
.bech_arrow_right_circle {
  &:before {
    content: $bech_arrow_right_circle; 
  }
}
.bech_arrow_right {
  &:before {
    content: $bech_arrow_right; 
  }
}
.bech_arrow_up_circle {
  &:before {
    content: $bech_arrow_up_circle; 
  }
}
.bech_arrow_up_ios {
  &:before {
    content: $bech_arrow_up_ios; 
  }
}
.bech_arrow_up {
  &:before {
    content: $bech_arrow_up; 
  }
}
.bech_cancel {
  &:before {
    content: $bech_cancel; 
  }
}
.bech_check {
  &:before {
    content: $bech_check; 
  }
}
.bech_chevron_down {
  &:before {
    content: $bech_chevron_down; 
  }
}
.bech_chevron_left {
  &:before {
    content: $bech_chevron_left; 
  }
}
.bech_chevron_right {
  &:before {
    content: $bech_chevron_right; 
  }
}
.bech_chevron_up {
  &:before {
    content: $bech_chevron_up; 
  }
}
.bech_circle_arrow_down {
  &:before {
    content: $bech_circle_arrow_down; 
  }
}
.bech_circle_arrow_left {
  &:before {
    content: $bech_circle_arrow_left; 
  }
}
.bech_circle_arrow_right {
  &:before {
    content: $bech_circle_arrow_right; 
  }
}
.bech_circle_arrow_up {
  &:before {
    content: $bech_circle_arrow_up; 
  }
}
.bech_dashboard {
  &:before {
    content: $bech_dashboard; 
  }
}
.bech_file_check {
  &:before {
    content: $bech_file_check; 
  }
}
.bech_file_first {
  &:before {
    content: $bech_file_first; 
  }
}
.bech_file_second {
  &:before {
    content: $bech_file_second; 
  }
}
.bech_fullscreen {
  &:before {
    content: $bech_fullscreen; 
  }
}
.bech_geo {
  &:before {
    content: $bech_geo; 
  }
}
.bech_menu {
  &:before {
    content: $bech_menu; 
  }
}
.bech_minus_circle {
  &:before {
    content: $bech_minus_circle; 
  }
}
.bech_more_horiz {
  &:before {
    content: $bech_more_horiz; 
  }
}
.bech_more_vert {
  &:before {
    content: $bech_more_vert; 
  }
}
.bech_payroll_authorization {
  &:before {
    content: $bech_payroll_authorization; 
  }
}
.bech_pin_geo {
  &:before {
    content: $bech_pin_geo; 
  }
}
.bech_plus_circle {
  &:before {
    content: $bech_plus_circle; 
  }
}
.bech_refresh {
  &:before {
    content: $bech_refresh; 
  }
}
.bech_accessibility {
  &:before {
    content: $bech_accessibility; 
  }
}
.bech_android_logo {
  &:before {
    content: $bech_android_logo; 
  }
}
.bech_apple_logo {
  &:before {
    content: $bech_apple_logo; 
  }
}
.bech_brain {
  &:before {
    content: $bech_brain; 
  }
}
.bech_call_center {
  &:before {
    content: $bech_call_center; 
  }
}
.bech_cloud_rain {
  &:before {
    content: $bech_cloud_rain; 
  }
}
.bech_cocktail {
  &:before {
    content: $bech_cocktail; 
  }
}
.bech_crown {
  &:before {
    content: $bech_crown; 
  }
}
.bech_faucet {
  &:before {
    content: $bech_faucet; 
  }
}
.bech_flower {
  &:before {
    content: $bech_flower; 
  }
}
.bech_gas {
  &:before {
    content: $bech_gas; 
  }
}
.bech_gasoline_station {
  &:before {
    content: $bech_gasoline_station; 
  }
}
.bech_gift_box {
  &:before {
    content: $bech_gift_box; 
  }
}
.bech_glass_water {
  &:before {
    content: $bech_glass_water; 
  }
}
.bech_glasses {
  &:before {
    content: $bech_glasses; 
  }
}
.bech_hand_open {
  &:before {
    content: $bech_hand_open; 
  }
}
.bech_heart_signal {
  &:before {
    content: $bech_heart_signal; 
  }
}
.bech_light_on {
  &:before {
    content: $bech_light_on; 
  }
}
.bech_lightning {
  &:before {
    content: $bech_lightning; 
  }
}
.bech_music_tone {
  &:before {
    content: $bech_music_tone; 
  }
}
.bech_nature_leaf {
  &:before {
    content: $bech_nature_leaf; 
  }
}
.bech_organization_chart {
  &:before {
    content: $bech_organization_chart; 
  }
}
.bech_plug_double {
  &:before {
    content: $bech_plug_double; 
  }
}
.bech_plug_triple {
  &:before {
    content: $bech_plug_triple; 
  }
}
.bech_presentation_chart {
  &:before {
    content: $bech_presentation_chart; 
  }
}
.bech_presentation_percent {
  &:before {
    content: $bech_presentation_percent; 
  }
}
.bech_puzzle {
  &:before {
    content: $bech_puzzle; 
  }
}
.bech_sand_clock {
  &:before {
    content: $bech_sand_clock; 
  }
}
.bech_shirt {
  &:before {
    content: $bech_shirt; 
  }
}
.bech_shop {
  &:before {
    content: $bech_shop; 
  }
}
.bech_shopping_bag {
  &:before {
    content: $bech_shopping_bag; 
  }
}
.bech_shopping_cart {
  &:before {
    content: $bech_shopping_cart; 
  }
}
.bech_table {
  &:before {
    content: $bech_table; 
  }
}
.bech_tea {
  &:before {
    content: $bech_tea; 
  }
}
.bech_trophy {
  &:before {
    content: $bech_trophy; 
  }
}
.bech_umbrella2 {
  &:before {
    content: $bech_umbrella2; 
  }
}
.bech_water_drop {
  &:before {
    content: $bech_water_drop; 
  }
}
.bech_wine {
  &:before {
    content: $bech_wine; 
  }
}
.bech_book_open {
  &:before {
    content: $bech_book_open; 
  }
}
.bech_book_search {
  &:before {
    content: $bech_book_search; 
  }
}
.bech_book {
  &:before {
    content: $bech_book; 
  }
}
.bech_certificate_search {
  &:before {
    content: $bech_certificate_search; 
  }
}
.bech_copy_file {
  &:before {
    content: $bech_copy_file; 
  }
}
.bech_file_logo_pdf {
  &:before {
    content: $bech_file_logo_pdf; 
  }
}
.bech_file_pdf {
  &:before {
    content: $bech_file_pdf; 
  }
}
.bech_file_search {
  &:before {
    content: $bech_file_search; 
  }
}
.bech_file_text {
  &:before {
    content: $bech_file_text; 
  }
}
.bech_file {
  &:before {
    content: $bech_file; 
  }
}
.bech_folder {
  &:before {
    content: $bech_folder; 
  }
}
.bech_format_list {
  &:before {
    content: $bech_format_list; 
  }
}
.bech_layers {
  &:before {
    content: $bech_layers; 
  }
}
.bech_news {
  &:before {
    content: $bech_news; 
  }
}
.bech_battery_charge {
  &:before {
    content: $bech_battery_charge; 
  }
}
.bech_battery_empty {
  &:before {
    content: $bech_battery_empty; 
  }
}
.bech_battery_full {
  &:before {
    content: $bech_battery_full; 
  }
}
.bech_battery_low {
  &:before {
    content: $bech_battery_low; 
  }
}
.bech_battery_medium {
  &:before {
    content: $bech_battery_medium; 
  }
}
.bech_bluetooth {
  &:before {
    content: $bech_bluetooth; 
  }
}
.bech_brightness_high {
  &:before {
    content: $bech_brightness_high; 
  }
}
.bech_brightness_low {
  &:before {
    content: $bech_brightness_low; 
  }
}
.bech_moon {
  &:before {
    content: $bech_moon; 
  }
}
.bech_plane {
  &:before {
    content: $bech_plane; 
  }
}
.bech_volume_high {
  &:before {
    content: $bech_volume_high; 
  }
}
.bech_volume_low {
  &:before {
    content: $bech_volume_low; 
  }
}
.bech_volume_muted {
  &:before {
    content: $bech_volume_muted; 
  }
}
.bech_wifi_disable {
  &:before {
    content: $bech_wifi_disable; 
  }
}
.bech_wifi_signal {
  &:before {
    content: $bech_wifi_signal; 
  }
}
.bech_at_symbol {
  &:before {
    content: $bech_at_symbol; 
  }
}
.bech_attach_file {
  &:before {
    content: $bech_attach_file; 
  }
}
.bech_download_cloud {
  &:before {
    content: $bech_download_cloud; 
  }
}
.bech_download {
  &:before {
    content: $bech_download; 
  }
}
.bech_mail_open {
  &:before {
    content: $bech_mail_open; 
  }
}
.bech_mail {
  &:before {
    content: $bech_mail; 
  }
}
.bech_mouse_cursor {
  &:before {
    content: $bech_mouse_cursor; 
  }
}
.bech_network {
  &:before {
    content: $bech_network; 
  }
}
.bech_phone_circle {
  &:before {
    content: $bech_phone_circle; 
  }
}
.bech_phone {
  &:before {
    content: $bech_phone; 
  }
}
.bech_atm {
  &:before {
    content: $bech_atm; 
  }
}
.bech_bag_clock {
  &:before {
    content: $bech_bag_clock; 
  }
}
.bech_bag_money {
  &:before {
    content: $bech_bag_money; 
  }
}
.bech_balance {
  &:before {
    content: $bech_balance; 
  }
}
.bech_bank {
  &:before {
    content: $bech_bank; 
  }
}
.bech_bip {
  &:before {
    content: $bech_bip; 
  }
}
.bech_card_hand {
  &:before {
    content: $bech_card_hand; 
  }
}
.bech_card_lock {
  &:before {
    content: $bech_card_lock; 
  }
}
.bech_card_web {
  &:before {
    content: $bech_card_web; 
  }
}
.bech_card {
  &:before {
    content: $bech_card; 
  }
}
.bech_cell_lock {
  &:before {
    content: $bech_cell_lock; 
  }
}
.bech_chart_money {
  &:before {
    content: $bech_chart_money; 
  }
}
.bech_check_money {
  &:before {
    content: $bech_check_money; 
  }
}
.bech_cheque {
  &:before {
    content: $bech_cheque; 
  }
}
.bech_dollar_convert_euro {
  &:before {
    content: $bech_dollar_convert_euro; 
  }
}
.bech_dollar {
  &:before {
    content: $bech_dollar; 
  }
}
.bech_hand_bag {
  &:before {
    content: $bech_hand_bag; 
  }
}
.bech_hand_money {
  &:before {
    content: $bech_hand_money; 
  }
}
.bech_identity_card {
  &:before {
    content: $bech_identity_card; 
  }
}
.bech_invest {
  &:before {
    content: $bech_invest; 
  }
}
.bech_money {
  &:before {
    content: $bech_money; 
  }
}
.bech_note_edit {
  &:before {
    content: $bech_note_edit; 
  }
}
.bech_notebook_lock {
  &:before {
    content: $bech_notebook_lock; 
  }
}
.bech_pago_clic {
  &:before {
    content: $bech_pago_clic; 
  }
}
.bech_password {
  &:before {
    content: $bech_password; 
  }
}
.bech_pc_lock {
  &:before {
    content: $bech_pc_lock; 
  }
}
.bech_pig_money {
  &:before {
    content: $bech_pig_money; 
  }
}
.bech_solicit_card {
  &:before {
    content: $bech_solicit_card; 
  }
}
.bech_symbol_dollar {
  &:before {
    content: $bech_symbol_dollar; 
  }
}
.bech_three_bag {
  &:before {
    content: $bech_three_bag; 
  }
}
.bech_token {
  &:before {
    content: $bech_token; 
  }
}
.bech_transfer_step_one {
  &:before {
    content: $bech_transfer_step_one; 
  }
}
.bech_transfer_step_two {
  &:before {
    content: $bech_transfer_step_two; 
  }
}
.bech_transfer {
  &:before {
    content: $bech_transfer; 
  }
}
.bech_two_card {
  &:before {
    content: $bech_two_card; 
  }
}
.bech_umbrella {
  &:before {
    content: $bech_umbrella; 
  }
}
.bech_wallet_card {
  &:before {
    content: $bech_wallet_card; 
  }
}
.bech_wallet {
  &:before {
    content: $bech_wallet; 
  }
}
.bech_briefcase {
  &:before {
    content: $bech_briefcase; 
  }
}
.bech_calendar {
  &:before {
    content: $bech_calendar; 
  }
}
.bech_cash_security {
  &:before {
    content: $bech_cash_security; 
  }
}
.bech_edit {
  &:before {
    content: $bech_edit; 
  }
}
.bech_enter_section {
  &:before {
    content: $bech_enter_section; 
  }
}
.bech_exit {
  &:before {
    content: $bech_exit; 
  }
}
.bech_eye_close {
  &:before {
    content: $bech_eye_close; 
  }
}
.bech_eye_open {
  &:before {
    content: $bech_eye_open; 
  }
}
.bech_first_aids_kit {
  &:before {
    content: $bech_first_aids_kit; 
  }
}
.bech_fix {
  &:before {
    content: $bech_fix; 
  }
}
.bech_heal_security {
  &:before {
    content: $bech_heal_security; 
  }
}
.bech_highlight_off {
  &:before {
    content: $bech_highlight_off; 
  }
}
.bech_home {
  &:before {
    content: $bech_home; 
  }
}
.bech_interact_circle {
  &:before {
    content: $bech_interact_circle; 
  }
}
.bech_interact {
  &:before {
    content: $bech_interact; 
  }
}
.bech_pin {
  &:before {
    content: $bech_pin; 
  }
}
.bech_power_on {
  &:before {
    content: $bech_power_on; 
  }
}
.bech_search_circle {
  &:before {
    content: $bech_search_circle; 
  }
}
.bech_search {
  &:before {
    content: $bech_search; 
  }
}
.bech_send_mail {
  &:before {
    content: $bech_send_mail; 
  }
}
.bech_settings {
  &:before {
    content: $bech_settings; 
  }
}
.bech_tag {
  &:before {
    content: $bech_tag; 
  }
}
.bech_trash {
  &:before {
    content: $bech_trash; 
  }
}

