@import "base/_base";
@import "theme/theme_bech";
@import "components/_spinner";
@import "components/_collapsable";
@import "components/_radio-check";
@import "components/_modal";
@import "components/_steppers";
@import "components/_popover";
@import "components/_slides";
@import "components/_inputs";
@import "components/_botones";
@import "components/_table";
@import "components/_header";
@import "components/_cards";

html {   
    font-size: 14px;
}
body {
    font-size: 1rem;
    font-family: $regular;
    color: $font_color_primary;
}
/* etiquetas H para titulos */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

/* parrafos */

p {
    font-size: 1rem;
}