.spinner, .spinner:after {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.spinner {
  background-color: transparent;
  border-top: 5px solid #ff9100;
  border-right: 5px solid #ff9100;
  border-bottom: 5px solid #ff9100;
  border-left: 5px solid rgba(255, 145, 0, 0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: .8s;
  animation-name: spinner-loading;
  margin: 0 auto;
  text-align: center; }

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }
.texto-bajada-spinner {
  text-align: center;
  color: #3A3F4A;
  margin: 15px 0;
  font-family: 'nunito-regular';
  font-weight: 100;
  font-size: 14px;
  color: #868C99; }

.bech {
  height: 40px;
  padding: 0px;
  background-color: #ffffff;
  border-bottom: 2px solid #FFBD65; }
  .bech .collapsable-bech {
    width: 100%;
    height: 40px;
    text-align: left;
    margin: 0px;
    text-decoration: none;
    color: #3A3F4A;
    border: none;
    font-family: "nunito-light";
    border: none; }
  .bech .texto-titulo {
    width: 90%;
    float: left; }
  .bech .flecha {
    float: left;
    width: 10%;
    text-align: right;
    font-size: 20px;
    color: #FF9100; }

.body-bech {
  border: none;
  background-color: #F6F7F8; }

.card-bech {
  border: none;
  margin: 2px 0; }

.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 34px;
  line-height: 18px; }

.checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: -1;
  left: -20px;
  top: -12px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.42);
  outline: none;
  opacity: 0;
  transform: scale(1);
  -ms-transform: scale(0);
  /* Graceful degradation for IE */
  transition: opacity 0.5s, transform 0.5s; }

.checkbox > input:checked {
  background-color: #FF9100; }

.checkbox:active > input {
  opacity: 1;
  transform: scale(0);
  transition: opacity 0s, transform 0s; }

.checkbox > input:disabled {
  opacity: 0; }

.checkbox > input:disabled + span {
  cursor: initial; }

.checkbox > span::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  border: solid 2px rgba(0, 0, 0, 0.42);
  border-radius: 2px;
  width: 20px;
  height: 20px;
  vertical-align: -4px;
  transition: border-color 0.5s, background-color 0.5s; }

.checkbox > input:checked + span::before {
  border-color: #FF9100;
  background-color: #FF9100; }

.checkbox > input:active + span::before {
  border-color: #FF9100; }

.checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.42); }

.checkbox > input:disabled + span::before {
  border-color: rgba(0, 0, 0, 0.26); }

.checkbox > input:checked:disabled + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.26); }

.checkbox > span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 14px;
  border: solid 2px transparent;
  border-left: none;
  border-top: none;
  transform: translate(6.6px, 6px) rotate(45deg);
  -ms-transform: translate(5.5px, 2px) rotate(45deg); }

.checkbox > input:checked + span::after {
  border-color: #fff; }

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }
.radio {
  margin: 16px 0; }
  .radio.radio-inline {
    display: inline-block; }
  .radio input[type="radio"] {
    display: none; }
    .radio input[type="radio"]:checked + label:before {
      border-color: #FF9100;
      animation: ripple 0.2s linear forwards; }
    .radio input[type="radio"]:checked + label:after {
      transform: scale(1); }
  .radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom; }
    .radio label:before, .radio label:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: all .3s ease;
      transition-property: transform, border-color; }
    .radio label:before {
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #FF9100; }
    .radio label:after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      transform: scale(0);
      background: #FF9100; }

*, *:before, *:after {
  box-sizing: border-box; }

section {
  background: white;
  margin: 0 auto;
  padding: 4em;
  max-width: 800px; }
  section h1 {
    margin: 0 0 2em; }

.bech-modal__contenido {
  border-radius: 6px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.18), 0 0 8px 2px rgba(0, 0, 0, 0.08); }
.bech-modal__dialogo {
  margin: 1.5rem; }
.bech-modal__icono {
  padding-bottom: 24px;
  text-align: center;
  margin: 0 auto; }
  .bech-modal__icono img {
    width: 64px;
    height: 64px; }
.bech-modal__titulo {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px; }
.bech-modal__texto {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #868c99;
  margin-bottom: 16px; }

.steps .stp3 .point, .steps .stp4 .point, .steps .stp5 .point {
  width: 10px;
  height: 10px;
  border: 1px solid #C3C7CE;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto; }
  .steps .stp3 .active.point, .steps .stp4 .active.point, .steps .stp5 .active.point {
    background-color: #3E50B4;
    border: 1px solid #3E50B4;
    animation-duration: .4s;
    animation-name: destacado; }
  .steps .stp3 .past.point, .steps .stp4 .past.point, .steps .stp5 .past.point {
    background-color: #C3C7CE;
    border: 1px solid #C3C7CE; }

.steps {
  border-bottom: 1px solid #C3C7CE;
  height: 5px;
  width: 100%;
  margin: 10px 0 20px; }
  .steps .stp3 {
    width: 33.3%;
    height: 10px;
    float: left; }
  .steps .stp4 {
    width: 25%;
    height: 10px;
    float: left; }
  .steps .stp5 {
    width: 20%;
    height: 10px;
    float: left; }

@keyframes destacado {
  from {
    background-color: rgba(62, 80, 180, 0);
    width: 40px;
    height: 40px;
    margin-top: -18px;
    border: none; }
  to {
    background-color: #3E50B4;
    width: 10px;
    height: 10px; } }
.popover {
  border-color: #FFBD65; }

.popover-header {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-bottom: none;
  margin-bottom: 0; }

.popover-body {
  line-height: 20px;
  font-size: 14px;
  color: #868c99;
  margin-bottom: 5px;
  border-color: #FFBD65; }

select ~ :after {
  display: none; }

.bech-input-label.web-kit-select {
  position: relative; }
  .bech-input-label.web-kit-select.disabled {
    pointer-events: none; }
    .bech-input-label.web-kit-select.disabled select {
      color: #868c99;
      font-weight: 400;
      background: #f7f7f7; }
    .bech-input-label.web-kit-select.disabled:after {
      opacity: 0.6; }
  .bech-input-label.web-kit-select select {
    appearance: none;
    padding-right: 32px; }
  .bech-input-label.web-kit-select:after {
    content: "\e952";
    width: 24px;
    background-size: contain;
    display: block;
    position: absolute;
    height: 24px;
    right: 0;
    top: 32px;
    margin-right: 8px;
    pointer-events: none; }

.bech-input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative; }
  .bech-input-label label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    color: #3a3f4a;
    transition: 0.25s ease-in-out; }
  .bech-input-label:focus-within label {
    color: #FF9100; }
  .bech-input-label.input-prefix .prefix {
    position: absolute;
    top: 32px;
    left: 16px;
    font-weight: 700; }
  .bech-input-label.input-prefix input {
    padding-left: 62px; }
  .bech-input-label input,
  .bech-input-label select,
  .bech-input-label textarea {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #a4aab6;
    padding: 9px 16px;
    line-height: 20px;
    font-size: 1.000em;
    font-weight: 700;
    transition: 0.25s ease-in-out;
    color: #3a3f4a;
    -webkit-appearance: none; }
    .bech-input-label input::placeholder,
    .bech-input-label select::placeholder,
    .bech-input-label textarea::placeholder {
      color: #868c99;
      font-weight: 400; }
    .bech-input-label input:active,
    .bech-input-label select:active,
    .bech-input-label textarea:active {
      border: solid 1px #FF9100;
      color: #3a3f4a; }
    .bech-input-label input:focus,
    .bech-input-label select:focus,
    .bech-input-label textarea:focus {
      outline: 0;
      border: solid 1px #FF9100;
      color: #3a3f4a; }
    .bech-input-label input:focus + label,
    .bech-input-label select:focus + label,
    .bech-input-label textarea:focus + label {
      color: #cc0000 !important; }
    .bech-input-label input:disabled,
    .bech-input-label select:disabled,
    .bech-input-label textarea:disabled {
      color: #868c99;
      font-weight: 400; }
      .bech-input-label input:disabled:after,
      .bech-input-label select:disabled:after,
      .bech-input-label textarea:disabled:after {
        display: none; }
  .bech-input-label .info-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #868c99;
    font-weight: 600; }
    .bech-input-label .info-text:empty {
      margin: 0; }
    .bech-input-label .info-text--error {
      color: #D13C3C; }
  .bech-input-label .MsjeError {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #D13C3C;
    font-weight: 600; }
    .bech-input-label .MsjeError:empty {
      margin: 0; }

input.ng-invalid.ng-dirty.ng-invalid.ng-touched {
  border: solid 1px #D13C3C; }

.radio_list {
  display: flex;
  flex-direction: column; }
  .radio_list mat-radio-button {
    height: 48px;
    display: flex;
    align-items: center; }
    .radio_list mat-radio-button label {
      white-space: normal;
      line-height: 24px; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.button-primary-bech, .button-secondary-bech, .button-accent-bech, .button-accent2-bech, .button-disable-bech, .button-disable2-bech {
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-position: center;
  transition: background 0.8s;
  text-align: center;
  width: 90%;
  margin: 8px 5%;
  height: 44px;
  line-height: 25px;
  font-size: 16px;
  font-family: 'nunito-regular';
  font-weight: 700; }
  .small.button-primary-bech, .small.button-secondary-bech, .small.button-accent-bech, .small.button-accent2-bech, .small.button-disable-bech, .small.button-disable2-bech {
    width: 48%;
    margin: 8px 1%;
    height: 34px;
    line-height: 15px;
    font-weight: 100;
    font-size: 13px;
    float: left; }
  .center.button-primary-bech, .center.button-secondary-bech, .center.button-accent-bech, .center.button-accent2-bech, .center.button-disable-bech, .center.button-disable2-bech {
    margin: 8px auto;
    float: none; }

.button-primary-bech {
  background: #FF9100;
  border: 2px solid #FF9100;
  color: #FFFFFF; }
  .button-primary-bech:hover {
    background: #FF9100 radial-gradient(circle, transparent 1%, #FF9100 1%) center/15000%;
    border: 2px solid #FF9100;
    text-decoration: none;
    color: #ffffff; }
  .button-primary-bech:active {
    background-color: #FFBD65 !important;
    background-size: 100%;
    transition: background 0s; }

.button-secondary-bech {
  background: none;
  border: 2px solid #FF9100;
  color: #FF9100; }
  .button-secondary-bech:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
    border: 2px solid #FF9100;
    text-decoration: none;
    color: #FF9100; }
  .button-secondary-bech:active {
    background-color: #FFBD65;
    background-size: 100%;
    transition: background 0s; }

.button-accent-bech {
  background: #3E50B4;
  border: 2px solid #3E50B4;
  color: #FFFFFF; }
  .button-accent-bech:hover {
    background: #3E50B4 radial-gradient(circle, transparent 1%, #3E50B4 1%) center/15000%;
    border: 2px solid #3E50B4;
    text-decoration: none;
    color: #ffffff; }
  .button-accent-bech:active {
    background-color: #7784CA;
    background-size: 100%;
    transition: background 0s; }

.button-accent2-bech {
  background: none;
  border: 2px solid #3E50B4;
  color: #3E50B4; }
  .button-accent2-bech:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
    border: 2px solid #3E50B4;
    text-decoration: none;
    color: #3E50B4; }
  .button-accent2-bech:active {
    background-color: #7784CA;
    background-size: 100%;
    transition: background 0s; }

.button-disable-bech {
  box-shadow: none;
  background: #E1E4E7;
  border: 2px solid #E1E4E7;
  color: #A4AAB6; }
  .button-disable-bech:hover {
    background: #E1E4E7;
    text-decoration: none;
    color: #A4AAB6; }

.button-disable2-bech {
  box-shadow: none;
  background: none;
  border: 2px solid #E1E4E7;
  color: #E1E4E7; }
  .button-disable2-bech:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
    border: 2px solid #E1E4E7;
    text-decoration: none;
    color: #E1E4E7; }

.bech-table__activo {
  background-color: #FF9100;
  color: #ffffff; }
.bech-table__success {
  background-color: #20D4A4;
  color: #ffffff; }

header {
  background: linear-gradient(to right, #FFA90A, #E86051);
  height: 56px;
  line-height: 55px;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px; }

.volver {
  font-size: 32px;
  line-height: 60px;
  text-align: center; }

.notificacion {
  font-size: 27px;
  line-height: 60px;
  text-align: center; }
  .notificacion .contenedor-numero {
    margin-left: 31px; }
    .notificacion .contenedor-numero span {
      background-color: #3E50B4;
      color: #ffffff;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      padding: 3px;
      font-size: 10px;
      z-index: 50000;
      font-family: "nunito-light";
      margin: -50px auto;
      display: block;
      line-height: 13px;
      text-align: center; }

.alertabech {
  background-color: rgba(62, 80, 180, 0.1) !important;
  border: 1px solid rgba(62, 80, 180, 0.25);
  color: #3E50B4;
  font-family: 'nunito-light';
  font-size: 14px;
  margin: 20px 0; }

body {
  font-family: 'nunito-regular';
  color: #3A3F4A; }

/*# sourceMappingURL=main.css.map */
