// COLORES
$bech_color: #FF9100;
$bech_color2: #FFBD65;
$font_color_primary: #3A3F4A;
$font_color_secondary: #868C99;
$accent: #3E50B4;
$accent2: #7784CA;
$border: #C3C7CE;
$border-invalid: #D63E3E;
$bg_color: #F6F7F8;
$success:#20D4A4;
$disabled: #E1E4E7;
$text-disabled: #A4AAB6;

// PLATAFORMA
$font_color: #3a3f4a;
$font_color_light: #868c99;
$font_color_lighter: #a4aab6;
$bg_disable: #e1e4e7;
$bg-disable: #e1e4e7;
$green-color:#2abe8f;
$border_disable: #d9dbe0;
$red-color: #D13C3C;
$accent_color: #3f51b5;
$accent_color_2: #7784ca;
$border-color: #a4aab6;

// MARGINS
$margin5: 5px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;

// PADDINGS
$padding5: 5px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;

// SHADOWS
$shadow-btn: 0 2px 4px rgba(0, 0, 0, .12);
$small-shadow: 0px 3px 6px $font_color_secondary;
$big-shadow: 0px 5px 12px $font_color_secondary;

// BORDER-RADIUS
$radius5: 5px;
$radius40:40px;

