header {
    background: linear-gradient(to right, $header2, $header1);
    height: 56px;
    line-height: 55px;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}
.volver {
    font-size:32px;
    line-height: 60px;
    text-align: center;
}
.notificacion {
    font-size:27px;
    line-height: 60px;
    text-align: center;
    .contenedor-numero {
        margin-left:31px;
        span {
            background-color: $accent;
            color: #ffffff;
            border-radius:50%;
            width: 18px;
            height: 18px;
            padding: 3px;
            font-size: 10px;
            z-index: 50000;
            font-family:$light;
            margin: -50px auto;
            display:block;
            line-height: 13px;
            text-align: center;
        }
    }
    
}